body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:627px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:76px;
  width:246px;
  height:40px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u364_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:379px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:117px;
  width:509px;
  height:379px;
  font-size:20px;
  text-align:left;
}
#u365_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:505px;
  word-wrap:break-word;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:269px;
  width:300px;
  height:25px;
}
#u366_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:320px;
  width:300px;
  height:25px;
}
#u367_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:369px;
  width:300px;
  height:25px;
}
#u368_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:444px;
  width:61px;
  height:25px;
}
#u369_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:444px;
  width:54px;
  height:25px;
}
#u370_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:7px;
  width:271px;
  height:21px;
  color:#009900;
}
#u371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u372_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:85px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:469px;
  width:5px;
  height:70px;
}
#u372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:85px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:469px;
  width:5px;
  height:70px;
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:539px;
  width:181px;
  height:21px;
  color:#009900;
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:539px;
  width:235px;
  height:21px;
  color:#009900;
}
#u375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:496px;
  width:154px;
  height:21px;
  color:#009900;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
