body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:76px;
  width:246px;
  height:40px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u391_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:7px;
  width:307px;
  height:21px;
  color:#009900;
}
#u392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:156px;
  width:452px;
  height:177px;
}
#u394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:52px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:52px;
}
#u394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:164px;
  word-wrap:break-word;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:52px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:0px;
  width:284px;
  height:52px;
}
#u395_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:280px;
  word-wrap:break-word;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:168px;
  height:30px;
}
#u396_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:30px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:52px;
  width:284px;
  height:30px;
}
#u397_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:280px;
  word-wrap:break-word;
}
#u398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:168px;
  height:30px;
}
#u398_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:30px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:82px;
  width:284px;
  height:30px;
}
#u399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:280px;
  word-wrap:break-word;
}
#u400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:168px;
  height:30px;
}
#u400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:30px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:112px;
  width:284px;
  height:30px;
}
#u401_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:280px;
  word-wrap:break-word;
}
#u402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:35px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:142px;
  width:168px;
  height:35px;
}
#u402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:35px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:142px;
  width:284px;
  height:35px;
}
#u403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:391px;
  width:140px;
  height:25px;
}
#u404_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:239px;
  width:154px;
  height:21px;
  color:#009900;
}
#u405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:394px;
  width:91px;
  height:21px;
  color:#009900;
}
#u406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:90px;
  height:31px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:247px;
  width:75px;
  height:5px;
}
#u407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:90px;
  height:31px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:401px;
  width:75px;
  height:5px;
}
#u408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
