body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:626px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:7px;
  width:271px;
  height:21px;
  color:#009900;
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:73px;
  width:246px;
  height:40px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u448_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:379px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:124px;
  width:509px;
  height:379px;
  font-size:20px;
  text-align:left;
}
#u449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:505px;
  word-wrap:break-word;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:464px;
  width:54px;
  height:25px;
}
#u450_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:464px;
  width:61px;
  height:25px;
}
#u451_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u452_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:85px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:489px;
  width:5px;
  height:70px;
}
#u452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:559px;
  width:181px;
  height:21px;
  color:#009900;
}
#u453_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u454_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:85px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:489px;
  width:5px;
  height:70px;
}
#u454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:559px;
  width:199px;
  height:21px;
  color:#009900;
}
#u455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:278px;
  width:313px;
  height:124px;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:0px;
  width:104px;
  height:30px;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:0px;
  width:104px;
  height:30px;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:105px;
  height:30px;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:30px;
  width:104px;
  height:30px;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:30px;
  width:104px;
  height:30px;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:105px;
  height:30px;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:60px;
  width:104px;
  height:30px;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:60px;
  width:104px;
  height:30px;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:34px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:105px;
  height:34px;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:101px;
  word-wrap:break-word;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:90px;
  width:104px;
  height:34px;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:100px;
  word-wrap:break-word;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:90px;
  width:104px;
  height:34px;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:318px;
  width:100px;
  height:16px;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:344px;
  width:100px;
  height:16px;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:376px;
  width:100px;
  height:16px;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:412px;
  width:109px;
  height:21px;
  color:#009900;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
