body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:356px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:7px;
  width:235px;
  height:21px;
  color:#009900;
}
#u409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:300px;
  height:266px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:153px;
  width:142px;
  height:25px;
}
#u411_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:188px;
  width:142px;
  height:25px;
}
#u412_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:234px;
  width:100px;
  height:16px;
}
#u413_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u413_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:234px;
  width:100px;
  height:16px;
}
#u414_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u414_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:234px;
  width:100px;
  height:16px;
}
#u415_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u415_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:298px;
  width:140px;
  height:25px;
}
#u416_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:303px;
  width:100px;
  height:16px;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u417_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:368px;
  width:100px;
  height:21px;
  color:#009900;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:60px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:323px;
  width:5px;
  height:45px;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
